footer{
  font-family: Lora,sans-serif;
}
.footer1{
  width: 45%;
  padding:5px;
  background-color: black;
  color:white;
  margin-left:20%;
  margin-right:40%;
}
li.footer-icon{
  display:inline-block;
  width: 30px;
}
.footer1-text{
    font-size: 1em;
}
.footer2{
  width: 45%;
  padding:5px;
  background-color: lightgray;
  margin-left:20%;
  margin-right:40%;
}
.footer2-text{
  font-size: 0.75em;
}
li.footer2-list {
                display:inline;
}
a.footer2-links{
               text-decoration: none;
               text-transform: uppercase;
               font-size: 0.80em;
               color:black;
              padding-right: 8px;
              width: 100%;
}
              
                          
                      
                          
                    