.topnav{
    display:block;
    position:fixed;
    width: 100%;
    background-color: white;
    padding:20px 0px 20px 0px;
    list-style-type:none;
}
.topnav1{
    text-transform: uppercase;
    text-align: left;
    color:#333;
    text-decoration: none;
    padding:0px 8px;
    }

li:hover{
    border: tomato;
    text-decoration: underline;
}
