ul.topnav{
    position:fixed;
    width: 100%;
    background-color: white;
    padding:30px 25% 30px 30%;
    list-style-type:none;
   }
li.topnav1{
    display:inline;
}
li a{ 
    text-transform: uppercase;
    text-align: left;
    color:#333;
    text-decoration: none;
    padding:0px 8px;
    }

li:hover{
    text-decoration: underline;
}

h1{
    font-family: Rubik,sans-serif;
    font-size: 1.75rem;
}